*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* background-image: url(https://i.pinimg.com/736x/88/2f/a7/882fa7a1daa4f0dc914c1a615aaf1171.jpg); */
    background-color: #E5E3C9;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

section{
    background-color: #B4CFB0;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

button {
    cursor: pointer;
}

section label input{
    display: block;
    margin: 5px;
}